
h3{
    text-align: center;
    font-size: 2.2rem;
    
  }
.register_button{
  color: red;
}
.loginBox{
  height: 30rem;
}

.paddings.flexCenter.innerWidth.l-container{
  gap: 5rem;
  flex-direction: row;
}
.paddings.flexCenter.innerwidth.l-header-container{
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

  .inputs_container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 400px;
  }
  
 .login_butto_section{
  display: flex;
  flex: row;
  gap: 2rem;
  justify-content: start;
  margin-top: 10px;
 }
  
  .login_button {
  
    font-weight: 500;
    font-size: 15px;
    padding: 0.6rem 1.4rem;
    color: white;
    background: var(--blue-gradient);
    border: none;
    border-radius: 4px;
    transition: all 300ms ease-in;
    width: 35%;
    padding: 0.75rem 1rem;
    border-radius: 25px;
    outline: 0;
    cursor: pointer;
    border: 2px solid transparent;
  }
  
  .login_button:hover {
    border: 2px solid;
    color: white ;
    cursor: pointer;
    transform:scale(1.1);
    

  }
  p {
    text-align: center;
  }
  

  @media only screen and (max-width: 620px) {
    .inputs_container input{
        width: 100%;
    }
    .login_button{
        width: 50%;
    }
  }

  @media only screen and (max-height: 670px) {
    .subtitle {
      margin-bottom: 2rem;
    }
    .title{
      width: 100%;
    }
  
    .small {
      margin-bottom: 3rem;
    }
  }