/* .LoginCapture {
    display: flex;
    width: 100%;
    text-align: center;
    outline: 0;
    margin: 5px;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    background-color: #4e65f7;
    color: white;
    border: 2px solid transparent;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .LoginCapture:hover {
    border: 2px solid black;
    background-color: black;
    color: white;
  } */
.paddings.flexCenter.cam-container{
  flex-direction: column;
}
.paddings.canvasContainer{
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.loFace_button{
  gap: 2rem;
  display: flex;
}
  /* .LoginRefresh{
    display: flex;
    width: 100%;
    text-align: center;
    outline: 0;
    font-size: 1rem;
    margin: 5px;
    font-family: inherit;
    cursor: pointer;
    background-color: #eb1616;
    color: white;
    border: 2px solid transparent;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.LoginRefresh:hover {
    border: 2px solid black;
    background-color: black;
    color: white ;
    

  } */

/* .Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }*/
  .screenshot img{
    width: 200px;
    height: 200px;
    padding: 10px;
  } 

  