.h-wrapper{
    background:var(--black);
    color: rgb(241, 241, 241);
    position: sticky;
    position: relative;
    z-index: 1;
    opacity: 1;
    transform:none;
    top: 0;
    transition: all 300ms ease;
  }
  
  .flexCenter.paddings.innerWidth.h-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .h-menu{
    gap: 2rem;
  }
  
  .h-menu > *:hover{
    color: white;
    cursor: pointer;
    font-weight: 400;
  }
  
  