.Capture{
    display: flex;
    margin: 0.4rem auto 1rem auto;
    width: 25%;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    outline: 0;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    background-color: #4e65f7;
    color: white;
    border: 2px solid transparent;
}

.Capture:hover {
    border: 2px solid black;
    background-color: black;
    color: white ;
    

  }
  .Refresh{
    display: flex;
    margin: 0.2rem auto 0.8rem auto;
    width: 25%;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    outline: 0;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    background-color: #f13c3c;
    color: white;
    border: 2px solid transparent;
}

.Refresh:hover {
    border: 2px solid black;
    background-color: black;
    color: white ;
    

  }
  