.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  
  
}
.face_check_from_DB{
    display: block;
    margin: 0.4rem auto 1rem auto;
    width: 25%;
    padding: 0.75rem 1rem;
    border-radius: 25px;
    outline: 0;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    background-color: #4e65f7;
    color: white;
    border: 2px solid transparent;
 } 